<nav>
{{#locations.0.recording_times}}
  <a onclick="toggleTimes({{index}}, false);">
    {{departure_time}}
  </a>
{{/locations.0.recording_times}}
  <a onclick="toggleTimes(null, true);">
    Show All
  </a>
</nav>
<div class="flex_box">
  {{! <div class="col" id="NoncontrolCol"> }}
    {{#locations}}
      {{^is_control}}
        <div class="Location" id="{{id}}">
          <div class="Location-name">
            {{name}}
          </div>
          {{#recording_times}}
            <div class="Location-recordings Location-recordings--noncontrol" data-location-recording-id="{{id}}" data-recording-index="{{index}}">
              <div class="LocationRecordingTime">
                <span class="LocationRecordingTime-caret"></span>
                <span class="LocationRecordingTime-time">
                  {{departure_time}}
                </span>
                <span>
                  <span class="LocationRecordingTime-desc">Shortest:</span>{{shortest_verbal}} {{shortest_diff}}
                </span>
                <span>
                  <span class="LocationRecordingTime-desc">Longest:</span>{{longest_verbal}} {{longest_diff}}
                </span>
              </div>
              <table class="LocationData hidden-node">
                <tr>
                  <th>Date</th>
                  <th>Travel w/ Traffic</th>
                  {{! <th>Travel w/o Traffic</th> }}
                  <th>Distance</th>
                  <th>Via</th>
                </tr>
                {{#recordings}}
                  <tr data-recording-id="{{id}}" class="LocationData-row">
                    <td>{{date}}</td>
                    <td>{{duration_in_traffic}}</td>
                    <!-- <td>{{duration}}</td-->
                    <td>{{distance}}</td>
                    <td>{{via}}</td>
                  </tr>
                {{/recordings}}
              </table>
            </div>
          {{/recording_times}}
        </div>
      {{/is_control}}
    {{/locations}}
  {{! </div> }}
</div>